In [1]:
import pandas as pd

In [27]:
import pandas as pd

splits = {'train': 'train.csv', 'validation': 'validation.csv', 'test': 'test.csv'}
train_df = pd.read_csv("hf://datasets/knkarthick/dialogsum/" + splits["train"])
validation_df = pd.read_csv("hf://datasets/knkarthick/dialogsum/" + splits["validation"])
test_df = pd.read_csv("hf://datasets/knkarthick/dialogsum/" + splits["test"])

print(train_df.head())

        id                                           dialogue  \
0  train_0  #Person1#: Hi, Mr. Smith. I'm Doctor Hawkins. ...
1  train_1  #Person1#: Hello Mrs. Parker, how have you bee...
2  train_2  #Person1#: Excuse me, did you see a set of key...
3  train_3  #Person1#: Why didn't you tell me you had a gi...
4  train_4  #Person1#: Watsup, ladies! Y'll looking'fine t...

                                             summary              topic
0  Mr. Smith's getting a check-up, and Doctor Haw...     get a check-up
1  Mrs Parker takes Ricky for his vaccines. Dr. P...           vaccines
2  #Person1#'s looking for a set of keys and asks...          find keys
3  #Person1#'s angry because #Person2# didn't tel...  have a girlfriend
4  Malik invites Nikki to dance. Nikki agrees if ...              dance

In [28]:
test_df.head()

# include only the first summaries by taking only _1 ending ids
test_df = test_df[test_df['id'].str.endswith('_1')]

test_df.head()

,id,dialogue,summary,topic
0,test_0_1,"#Person1#: Ms. Dawson, I need you to take a di...",Ms. Dawson helps #Person1# to write a memo to ...,communication method
3,test_1_1,#Person1#: You're finally here! What took so l...,#Person2# arrives late because of traffic jam....,public transportation
6,test_2_1,"#Person1#: Kate, you never believe what's happ...",#Person1# tells Kate that Masha and Hero get d...,divorce
9,test_3_1,"#Person1#: Happy Birthday, this is for you, Br...",#Person1# and Brian are at the birthday party ...,birthday party
12,test_4_1,#Person1#: This Olympic park is so big!\n#Pers...,#Person1# is surprised at the Olympic Stadium'...,Olympic Stadium

In [23]:
test_df.iloc[0].to_dict()

{'id': 'test_0_2',
 'dialogue': "#Person1#: Ms. Dawson, I need you to take a dictation for me.\n#Person2#: Yes, sir...\n#Person1#: This should go out as an intra-office memorandum to all employees by this afternoon. Are you ready?\n#Person2#: Yes, sir. Go ahead.\n#Person1#: Attention all staff... Effective immediately, all office communications are restricted to email correspondence and official memos. The use of Instant Message programs by employees during working hours is strictly prohibited.\n#Person2#: Sir, does this apply to intra-office communications only? Or will it also restrict external communications?\n#Person1#: It should apply to all communications, not only in this office between employees, but also any outside communications.\n#Person2#: But sir, many employees use Instant Messaging to communicate with their clients.\n#Person1#: They will just have to change their communication methods. I don't want any - one using Instant Messaging in this office. It wastes too much time! Now, please continue with the memo. Where were we?\n#Person2#: This applies to internal and external communications.\n#Person1#: Yes. Any employee who persists in using Instant Messaging will first receive a warning and be placed on probation. At second offense, the employee will face termination. Any questions regarding this new policy may be directed to department heads.\n#Person2#: Is that all?\n#Person1#: Yes. Please get this memo typed up and distributed to all employees before 4 pm.",
 'summary': 'In order to prevent employees from wasting time on Instant Message programs, #Person1# decides to terminate the use of those programs and asks Ms. Dawson to send out a memo to all employees by the afternoon.',
 'topic': 'company policy'}

In [17]:
clusters[clusters.id.str.contains('_2')]

               id  cluster
2         train_2       13
20       train_20        1
21       train_21       13
22       train_22       10
23       train_23       13
...           ...      ...
13255  test_295_1        8
13256  test_296_1       12
13257  test_297_1        9
13258  test_298_1       19
13259  test_299_1       13

[1333 rows x 2 columns]

In [29]:
clusters = pd.read_csv("./input/dialogsum_clustered.csv")

# Join the clusters with the original data by id
train_df = train_df.join(clusters.set_index("id"), on="id")
validation_df = validation_df.join(clusters.set_index("id"), on="id")
test_df = test_df.join(clusters.set_index("id"), on="id")

test_df

,id,dialogue,summary,topic,cluster
0,test_0_1,"#Person1#: Ms. Dawson, I need you to take a di...",Ms. Dawson helps #Person1# to write a memo to ...,communication method,2
3,test_1_1,#Person1#: You're finally here! What took so l...,#Person2# arrives late because of traffic jam....,public transportation,2
6,test_2_1,"#Person1#: Kate, you never believe what's happ...",#Person1# tells Kate that Masha and Hero get d...,divorce,1
9,test_3_1,"#Person1#: Happy Birthday, this is for you, Br...",#Person1# and Brian are at the birthday party ...,birthday party,14
12,test_4_1,#Person1#: This Olympic park is so big!\n#Pers...,#Person1# is surprised at the Olympic Stadium'...,Olympic Stadium,0
...,...,...,...,...,...
1485,test_495_1,"#Person1#: Hey, Charlie, do you want to come t...",Jack invites Charlie to play a new video game ...,video game invitation,0
1488,test_496_1,#Person1#: How did you get interested in count...,#Person2# explains to #Person1# about how #Per...,conversation about interest,1
1491,test_497_1,"#Person1#: Excuse me, Alice, I've never used t...",Alice guides #Person1# to use the washing mach...,campus conversation,16
1494,test_498_1,#Person1#: Matthew? Hi!\n#Person2#: Steve! Hav...,Steve is looking for a new place to live and M...,house renting,19
1497,test_499_1,"#Person1#: Hey, Betsy, did you hear the great ...",Frank invites Besty to the party to celebrate ...,party invitation,14

In [7]:
validation_df.cluster.value_counts()

cluster
10    89
13    74
7     35
1     33
12    30
17    24
19    24
8     23
2     22
3     20
15    18
18    16
16    15
5     15
0     13
9     13
6     12
11    10
4      9
14     5
Name: count, dtype: int64